{% extends 'layouts/main.html' %}

{% block content %}
<main>
  {% if error %}
  <div class="mt-40 text-center text-danger">
    <h1>
      <i class="far fa-exclamation-circle"></i>
      Error
    </h1>
  </div>
  {% else %}
  <div class="mt-40 text-center text-success">
    <h1>
      <i class="far fa-check-circle"></i> 
      Success!
    </h1>
  </div>
  <div class="mt-40 text-center">
    <div class="mt-20 text-center text-secondary border-placeholder">
      <div>
        <span class="font-weight-bold">Amount Paid: <span class="text-success">$</span><span class="amount text-success" data-amount="{{ amount }}"></span></span>
      </div>
      <div class="mt-4">
        <span class="font-weight-bold">Payment Intent ID: <p class="text-primary">{{ payment_intent_id }}</p></span>
      </div>
    </div>
  </div>
  {% endif %}
</main>
{% endblock %}
